<!DOCTYPE html>
<html>
  <head>
    <title>大村くん</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header>
        <div class="title-part">
          <h1>大村くん</h1>
          <hr>
          <div class="discription">
            <p>大村くんに色々なセリフを与えてみよう！！<p>
            <p>噛まずに言えるかな？</p>
            <span>（同じセリフでもいろんな噛み方をするかも？）</span>
          </div>
        </div>
      </header>
    </div>
    <%= yield %>
    <hr>
    <div class="container feed">
      <h2><これまでの発言></h2>
      <hr>
      <ol>
        <%= render @microposts %>
      </ol>
      <%= paginate @microposts %>
    </div>
  </body>
</html>
